body {
    background-color: #eee;
}
/*-------------------------Navbar---------------------*/
 #nav {
    margin: 0;
    padding: 0px 5px;
    /* Si colocamos el overflow hidden, deja de funcionar
    overflow: hidden; */
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4caf50;
    height: 70px;
    display: flex;
    align-items: center;
} 
.main_nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* deprecated 
 li{
    float: left;
} */
    
/*-------------------------Dropdown---------------------*/
.dropdown {
    
    display: inline-block;
    margin: 0;
    height: 100%;
}
.dropdown-btn {
    display: flex;
    background-color: #4caf50;
    color: white;
    align-items: center;
    /*padding: 16px; Esto no va */
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 100%;
}
#brand{
    font-family: 'custom_chewy';
    font-size: 2.5em;
}
/* Visualizar (display:block) / Funcional(display:none) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #eee;
}
.dropdown:hover .dropdown-btn {
    background-color: #3e8e41;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Hamburger Menu */
.hamb-menu {
    position: absolute;
    z-index:1000; /* 3era dimension (profundidad)*/
    display: none;
    flex-direction: column;
    /* Mejor que usar margins -> justify-content: space-around */
    justify-content: space-around;
    
    height: 30px;
    width: 30px;
}

.hamb-menu__line {
    width: 99%;
    height: 4px;
    background-color: #eee;
    /* margin: 10px 0px; Display: flex ya lo esta haciendo */
    border-radius: 55px;
}


/* Hamburger Menu */

/* Responsive Design */
@media (max-width:768px) {

    .hamb-menu {
        display: flex;
    }

    .dropdown-btn {
        display: none; 
    }
} 

/* Elementos del Hamb-menu */
.display-list {
    top: 40px;
    height: calc(100vh - 40px);
    width: 100%;
    position: fixed;
    opacity: 0;
    transition: opacity 0.7s;
}
/* Elemento para c/u del contenedor */
.display-list__container {
    width: 100%;
}
/* Elemento para c/u de las categorias */
.display-list__category {
    width: 100%;
}
/* Elemento para c/u del boton */
.display-list__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
}
/* Search bar */
.form-control{
    border: 0px solid #000;
    width: 80%;  
}
.form-control:focus{
    outline: none;
}


.navbar-form {
    border: 0px solid #000;
    width: 100%;
    
}

.input-group-btn {
    width: 20%;
    background-color: white;
}

.btn {
    width: 100%;
}
.search-bar{
    background-color: white;
    border-radius: 50px;
}
.input-search{
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 5px;
}


/* font'family chewy */
@font-face {
    font-family: 'custom_chewy';
    src: url('PORKYS_.TTF') format('truetype'),
         url('PORKH___.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;

}