body {
    background-color: #eee;
}
/*-------------------------Navbar---------------------*/
 #nav {
    margin: 0;
    padding: 0;
    /* Si colocamos el overflow hidden, deja de funcionar
    overflow: hidden; */
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4caf50;
} 
/* deprecated */
/* li{
    float: left;
} */
    
/*-------------------------Dropdown---------------------*/
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
}
.dropdown-btn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* Visualizar (display:block) / Funcional(display:none) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #eee;
}
.dropdown:hover .dropdown-btn {
    background-color: #3e8e41;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.content{
    margin-top: 75px;
}